#early-access-section{
  display: flex;
  width: calc(100vw - 96px);
  padding-left: 48px;
  padding-right: 48px;
  margin-top: 80px;
  margin-bottom: 120px;
  flex-direction: column;
  align-items: center;
  height: auto;

  @media screen and (max-width: 650px) {
    padding: 0px;
    margin: auto;
    margin-top: 0px;
    margin-bottom: 150px;
    width: 75%;
  }

  h2{
    font-family: 'Catamaran';
    font-size: 48px;
    color: #444;
    margin-bottom: 0px;
    @media screen and (max-width: 650px) {
      font-size: 35px;
      margin-bottom: 20px;
    }
  }

  p{
    font-family: 'Roboto';
    font-size: 1.2rem;
    width: 40%;
    text-align: center;
    margin-top: 0px;
    @media screen and (max-width: 650px) {
      width: 100%;
    }
  }

  #divider{
    width: 128px;
    height: 3px;
    border-radius: 1.5px;
    background: #000;
    box-shadow: 0px 0px 6px rgba($color: #000, $alpha: 0.25);
    margin-bottom: 0px;
  }
}
