#mission-section{
  display: flex;
  justify-content: center;
  box-shadow: 0px -64px 64px rgba($color: #7831D4, $alpha: 0.06);
  align-items: center;
  padding-left: 10vw;
  padding-right: 10vw;
  padding-top: 64px;
  padding-bottom: 64px;

  @media screen and (max-width: 980px) {
    flex-wrap: wrap;
    padding-top: 20px;
    padding-bottom: 30px;
  }
 
  #left{
    h1{
      font-family: 'Catamaran';
      font-size: 48px;
      color: #444;
      margin-bottom: 0px;
    }

    p{
      font-family: 'Roboto';
      font-size: 1.2rem;
      margin-top: 16px;
      margin-bottom: 64px;
      @media screen and (max-width: 980px) {
        margin-bottom: 20px;
        margin-top: 0px;
      }
    }
  }

  #right{
    position: relative;

    @media screen and (max-width: 980px) {
      width: 100%;
    }

    #coin-container{
      overflow: hidden;
      position: absolute;
      left: 40%;
      top: calc(50% - 50px - 200px - 2px);

      @media screen and (max-width: 1350px) {
        top: calc(50% - 50px - 160px - 2px);
      }

      height: 50px;
      width: 100px;
      transition-duration: 600ms;
      cursor: pointer;
  
      #coin-image{
        transform: rotate(-120deg);
        margin: 0px;
        height: 100px;
        width: 100px;
        transition-duration: 600ms;
      }
  
      &:hover{
        height: 110px;
        width: 136px;
        padding-left: 36px;
        top: calc(50% - 110px - 200px - 2px);
        #coin-image{
          transform: rotate(0deg);
        }

        @media screen and (max-width: 1350px) {
          top: calc(50% - 110px - 160px - 2px);
        }
      }
  
      &.found{
        height: 0px;
        top: calc(50% - 200px - 2px);
        
        @media screen and (max-width: 1350px) {
          top: calc(50% - 160px - 2px);
        }
      }
    }

    img{
      width: 540px;
      height: 400px;
      border-radius: 10px;
      margin-top: 64px;
      margin-bottom: 64px;
      margin-left: 128px;
      @media screen and (max-width: 1350px) {
        margin-left: 30px;
        width: 432px;
        height: 320px;
      }
      @media screen and (max-width: 980px) {
        margin-top: 20px;
        margin: 0px;
      }
      @media screen and (max-width: 650px) {
        width: 100%;
      }
    }
  }
}