#subscribe-section{
  display: flex;
  flex-direction: column;
  width: 80vw;
  justify-content: center;
  align-items: center;
  padding-left: 10vw;
  padding-right: 10vw;
  padding-top: 32px;
  padding-bottom: 64px;
  @media screen and (max-width: 650px) {
    padding: 20px;
    margin: auto;
    margin-bottom: 100px;
    margin-top: 100px;
    height: auto;
  }

  @media screen and (max-width: 650px) {
    text-align: center;
  }

  h1{
    font-size: 48px;
    line-height: 48px;
    font-family: 'Catamaran';
    color: #373737;
    margin-bottom: 0px;

    @media screen and (max-width: 650px) {
      margin-bottom: 10px;
    }
  }
}