#subscribe-section{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-left: 10vw;
  padding-right: 10vw;
  padding-top: 32px;
  padding-bottom: 64px;
  position: relative;
  @media screen and (max-width: 650px) {
    padding: 100px 20px;
    height: auto;
  }

  @media screen and (max-width: 650px) {
    text-align: center;
  }

  #coin-container{
    overflow: hidden;
    position: absolute;
    right: 64px;
    bottom: 0px;
    height: 50px;
    width: 100px;
    transition-duration: 600ms;
    cursor: pointer;

    #coin-image{
      transform: rotate(-120deg);
      height: 100px;
      width: 100px;
      transition-duration: 600ms;
    }

    &:hover{
      height: 120px;
      width: 136px;
      padding-left: 36px;
      #coin-image{
        transform: rotate(0deg);
      }
    }

    &.found{
      height: 0px;
    }
  }

  h1{
    font-size: 48px;
    line-height: 48px;
    font-family: 'Catamaran';
    color: #373737;
    margin-bottom: 0px;

    @media screen and (max-width: 650px) {
      margin-bottom: 10px;
      font-size: 35px;
      line-height: 35px;
    }
  }
}