#team-top-section{
  display: flex;
  height: calc(100vh - 32px);
  align-items: center;

  @media screen and (max-width: 980px) {
    background: white;
  }

  @media screen and (max-width: 600px) {
    height: calc(var(--vh, 1vh) * 100 - 32px);
  }

  #team-copy{
    width: 65%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left: -64px;
    @media screen and (max-width: 980px) {
      margin-left: 75px;
    }
    @media screen and (max-width: 650px) {
      margin: auto;
      width: 90%;
      padding-top: 100px;
    }

    #team-container{
      width: 55%;
      @media screen and (max-width: 980px) {
        width: 90%;
      }
      @media screen and (max-width: 650px) {
        text-align: center;
      }

      h1{
        font-size: 4.5rem;
        font-family: 'Catamaran';
        line-height: 4.5rem;
        color: #373737;
        margin-bottom: 24px;
        @media screen and (max-width: 1320px) {
          font-size: 3.5rem;
          line-height: 3.5rem;
        }
        @media screen and (max-width: 1050px) {
          font-size: 3.2rem;
        }
        @media screen and (max-width: 980px) {
          font-size: 4.5rem;
          line-height: 4.5rem;
        }
        @media screen and (max-width: 650px) {
          font-size: 3.2rem;
          line-height: 3.2rem;
        }
      }

      p{
        font-family: 'Roboto';
        font-size: 1.5rem;
        margin-top: 16px;
        margin-bottom: 64px;
        @media screen and (max-width: 1320px) {
          font-size: 1.2rem;
        }
        @media screen and (max-width: 1050px) {
          font-size: 1.0rem;
        }
        @media screen and (max-width: 980px) {
          font-size: 1.5rem;
        }
        @media screen and (max-width: 650px) {
          font-size: 1.3rem;
        }
      }
    }
  }
}