#winks-top-section{
  display: flex;
  height: calc(100vh - 32px);
  background: url("/envelope.jpg");
  background-position: right;
  background-position-y: 32px;
  background-size: cover;
  background-repeat: no-repeat;
  
  @media screen and (max-width: 980px) {
    background: white;
  }

  @media screen and (max-width: 600px) {
    height: calc(var(--vh, 1vh) * 100 - 32px);
  }

  #winks-copy{
    width: 65%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left: -64px;
    @media screen and (max-width: 980px) {
      margin-left: 75px;
      width: 80%;
      padding-top: 100px;
    }

    @media screen and (max-width: 650px) {
      margin: auto;
      width: 80%;
      margin-top: 50px;
      margin-bottom: 50px;
      padding-top: 50px;

    }

    #winks-container{
      width: 55%;
      @media screen and (max-width: 980px) {
        width: auto;
      }
      @media screen and (max-width: 650px) {
        text-align: center;
      }

      h1{
        font-size: 4.5rem;
        font-family: 'Catamaran';
        line-height: 4.5rem;
        color: #373737;
        margin-bottom: 24px;
        @media screen and (max-width: 1320px) {
          font-size: 3.5rem;
          line-height: 3.5rem;
        }
        @media screen and (max-width: 980px) {
          font-size: 4.3rem;
          line-height: 4.3rem;
        }
        @media screen and (max-width: 650px) {
          font-size: 3.2rem;
          line-height: 3.2rem;
        }
      }

      #winks-words{
        font-family: 'Roboto';
        font-size: 1.5rem;
        margin-top: 16px;

        @media screen and (max-width: 1320px) {
          font-size: 1.2rem;
        }
        @media screen and (max-width: 1050px) {
          font-size: 1.0rem;
        }
        @media screen and (max-width: 980px) {
          font-size: 1.5rem;
          width: 80%;
        }
        @media screen and (max-width: 650px) {
          font-size: 1.3rem;
          width: 100%;
        }
      }

      #winks-get-early-text{
        font-family: 'Catamaran';
        font-weight: 600;
        color: #7831D4;
        margin-bottom: 8px;
        margin-left: 8px;
        margin-top: 16px;

        @media screen and (max-width: 650px) {
          margin-bottom: 4px;
          margin-top: 30px;
        }
      }

      #newsletter{
        margin-bottom: 48px;
        background: #fff;
        border: #444 solid 3px;
        border-radius: 36px;
        width: 300px;
        display: flex;
        align-items: center;
        justify-content: space-between;

        input{
          border-radius: 36px;
          transition-duration: 400ms;
          border: none;
          font-size: 17px;
          padding: 13px 24px;
          font-family: 'Roboto';

          &:focus{
            outline: none !important;
          }
        }

        i{
          color: #7831D4;
          transition-duration: 200ms;
          margin-right: 16px;

          &:hover{
            cursor: pointer;
            transform: scale(1.15);
          }
        }
      }
    }
  }
}